<div class="form">
  <h1>twitter Auto</h1>
  <div class="form-controller">
    <label for="">ggggg</label>
    <input type="text" name="" value="">
  </div>
  <div class="form-controller">
    <label for="">ggggg</label>
    <input type="text" name="" value="">
  </div>
  <div class="form-controller">
    <label for="">ggggg</label>
    <input type="text" name="" value="">
  </div>
  <div class="form-controller">
    <label for="">ggggg</label>
    <input type="text" name="" value="">
  </div>
  <div class="form-controller">
    <label for="">ggggg</label>
    <input type="text" name="" value="">
  </div>
</div>
