// Place all the styles related to the auto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin: 100px auto;
  padding: 20px;
  width: 800px;
}

.form h1 {
  text-align: center;
}

.form-controller {
  margin: 20px auto;
  width: 600px;
}

.form-controller input {
  width: 100%;
  line-height: 2em;
  // border-radius: 2px;
}

.submit {
  text-align: center;
}
